# This workflow will build a golang project
# For more information see: 
# - https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
# - https://golangci-lint.run/usage/configuration/

name: Go

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup
      uses: ./.github/actions/setup

    - name: Tidy
      run: |
        go mod tidy
        git diff --exit-code go.mod
        git diff --exit-code go.sum
      
    - name: Build
      run:  go build -mod=readonly -v -trimpath ./...

    - name: Test
      run: go test -mod=readonly -v ./...

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup
      uses: ./.github/actions/setup

    - name: Lint
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
      with:
        install-mode: goinstall
        version: 5256574b81bcedfbcae9099f745f6aee9335da10 # v2.3.1